@media (min-width: 1200px) {
    .pagelayout-course.format-designer #page-wrapper #page.drawers .main-inner {
        max-width: none;
    }
}

ul.designer .card.card-list {
    min-height: 101px;
    border: none;
    border-left: 6px solid #333;
    box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.2);
}
ul.designer .card.card-list.restricted {
    border-color: #ccc;
}
ul.designer .card-layout .card.card-list .card-body .mod-indent-outer > div {
    display: table-cell;
    position: relative;
}
ul.designer .card.card-list .card-body .mod-indent-outer .completion-info {
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
}
ul.designer .card-layout .card.card-list .card-body .mod-indent-outer .completion-info {
    text-align: left;
}
ul.designer .card-layout .card.card-list .card-body {
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
ul.designer .card.card-list .card-body .mod-indent-outer .mod-indent .row div:nth-child(2) .col {
    padding: 0;
    flex-basis: auto;
}
ul.designer .card.card-list .card-body .mod-indent-outer .mod-indent .row div:nth-child(2) .pull-right {
    float: none;
}
ul.designer .card.card-list .card-body .mod-indent-outer .mod-indent .mod-visits-block {
    display: none;
    transition: all .5s ease;
}
ul.designer .card.card-list .card-body .mod-indent-outer .mod-indent .mod-visits-block p {
    margin-bottom: 0;
}
ul.designer .card.card-list:hover .card-body .mod-indent-outer .mod-indent .row div:nth-child(2)
.col + .mod-visits-block {
    display: inline-block;
    transition: all .5s ease;
}
.course-content ul.designer li.section h3.sectionname {
    max-width: 90%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
}
.course-content ul.designer li.section .categorise-section-block {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 20px;
}
.course-content ul.designer li.section .categorise-section-block span.badge {
    font-size: 12px;
    line-height: 13px;
    border-radius: 3px;
}
.course-content ul.designer li.section.section-summary h3 {
    max-width: 90%;
    display: inline-block;
}
.course-content ul.designer li.section.restricted h3.sectionname {
    opacity: .6;
}
.course-content ul.designer li.section .availability-section-block {
    /* float: right; */
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}
.course-content ul.designer li.section .availability-section-block .section_availability .availabilityinfo {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: 5px;
    vertical-align: middle;
    display: none;
}
.course-content ul.designer li.section .availability-section-block .section_availability
.availabilityinfo.isrestricted {
    background: #fff;
    display: none;
    position: absolute;
    margin-left: 20px;
}
.course-content ul.designer li.section .availability-section-block .section_availability
.availabilityinfo.isrestricted.show {
    display: inline-block;
}
.course-content ul.designer li.section .availability-section-block .section_availability
.availabilityinfo.isrestricted .badge-info {
    display: none;
}
.course-content ul.designer li.section .availability-section-block .section-restricted-action {
    display: inline-block;
    cursor: pointer;
}
.course-content ul.designer li.section .availability-section-block .section-restricted-action i {
    font-size: 26px;
    line-height: 30px;
    color: #ccc;
}
ul.designer .card.card-list.notstarted {
    border-left-color: var(--primary);
}
ul.designer .card.card-list.success {
    border-left-color: #28a745;
}
ul.designer .card.card-list.warning {
    border-left-color: #fd7e14;
    background-color: #ffe4cf;
}
ul.designer .card.card-list.danger {
    border-left-color: #dc3545;
    background-color: #ffe6e8;
}
ul.designer .card.card-list.muted {
    color: #d8d8d8;
    border-left-color: #d8d8d8;
}
ul.designer .card.card-list.secondary {
    border-left-color: #d8d8d8;
}
.editing ul.designer .section .list-layout li.activity {
    border: 0;
    background: none;
    padding-bottom: 0;
}
.editing ul.designer .section .list-layout li.activity .editing_move {
    left: 30px;
    top: 35px;
    z-index: 1;
}
.editing ul.designer .section .list-layout .card.card-list.secondary .mod-indent-outer > i.icon {
    top: 50px;
    left: 20px;
}
.designer .section .activity .module-icons .actions {
    top: 5px;
    right: 5px;
}
ul.designer .text-notstarted {
    color: var(--primary);
}
ul.designer .badge.badge-completion {
    min-width: 125px;
    line-height: 20px;
    border-radius: 5px;
    text-align: left;
    padding: 0 0.5em;
}
ul.designer .mform .fcontainer .fitem.gradient {
    display: inline-block;
    vertical-align: top;
}
/* ul.designer .mform .fcontainer .fitem .gradient:nth-of-type(1) {
    margin-left: 150px;
} */
ul.designer .module-icons {
    margin-left: 20px;
}
ul.designer li.activity .activity-block .card:hover .show-on-hover {
    opacity: 1;
    transition: all .5s ease;
}
ul.designer li.activity .activity-block .card .show-on-hover .col a,
ul.designer li.activity .activity-block .card:hover .show-on-hover .col a {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    box-shadow: none;
}
/* ul.designer li.activity .activity-block .card .show-on-hover .col .font-weight-bold {
    display: none;
} */
ul.designer li.activity .activity-block .card .show-on-hover .col .call-action-block .font-weight-bold,
ul.designer li.activity:hover .activity-block .card .show-on-hover .col .font-weight-bold {
    display: inline-block;
}
ul.designer li.activity .activity-block .card .show-on-hover .col .restricted a,
ul.designer li.activity .activity-block .card:hover .show-on-hover .col .restricted a {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    color: #ccc;
    height: auto;
    line-height: normal;
}
ul.designer .module-icons a.dropdown-toggle,
ul.designer .module-icons .menubar > .action-menu-item > a {
    color: var(--primary);
    font-weight: bold;
    font-size: 0.75em;
}
ul.designer .badge.badge-notstarted {
    color: white;
    background-color: var(--primary);
}

/* @media (max-width: 991px) {
    ul.designer li.activity .activity-block .card:hover .show-on-hover {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
} */

@media (min-width: 768px) {
    ul.designer .card.card-list .card-body .mod-indent-outer {
        width: 90%;
    }
}

@media (max-width: 575px) {
    .editing ul.designer .section .list-layout li.activity .editing_move {
        left: 5px;
    }
}

/* Style Moodle completion checkbox */
ul.designer .togglecompletion {
    float: left;
}
ul.designer .togglecompletion .btn {
    line-height: 1;
}
ul.designer .togglecompletion.badge-restricted {
    color: #333;
    background: #ccc;
}
ul.designer .togglecompletion .btn img {
    background-color: white;
    border-radius: 5px;
}
body.editing ul.designer .section .activity .editing_move {
    left: 0;
    top: calc(50% - 12px);
    z-index: 1;
}
body.editing ul.designer .section .circles-layout .activity .editing_move {
    top: 0;
    left: 20px;
}

/* @media (max-width: 767px) {
    ul.designer .section .content .section.card-layout li.activity .mod-content {
        padding-bottom: 40px;
    }
} */

@media (max-width: 575px) {
    .editing ul.designer .section .activity .contentwithoutlink,
    .editing ul.designer .section .activity .activityinstance {
        padding-right: 60px;
    }
    body.editing ul.designer .section .activity .editing_move {
        left: 0;
    }
    body.editing ul.designer .section .list-layout .activity .editing_move {
        left: 20px;
        z-index: 1;
    }
    body.editing ul.designer .section .card-layout .activity .editing_move {
        top: 10px;
        left: 20px;
        z-index: 1;
    }
}

/* format_topics CSS copied from boost to replicate basic styling for designer (based on topic) */
.course-content ul.designer {
    padding: 0;
    margin: 0;
    list-style: none;
}
.course-content ul.designer li.section.main {
    width: 100%;
    padding-bottom: 1rem;
    margin: 1.5rem auto 0;
    margin-top: 0;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.course-content ul.designer li.section.main.bg-color-overlay,
.course-content ul.designer li.section.bg-color-overlay.section-design-header .content .section-header-content {
    position: relative;
    z-index: 0;
}
.course-content ul.designer li.section.main.bg-color-overlay.section-design-whole .bg-overlay,
.course-content ul.designer li.section.main.bg-color-overlay.section-design-header .bg-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    z-index: -1;
}
.course-content ul.designer li.section.main.restricted {
    opacity: .4;
}
.course-content ul.designer li.section .right.side .btn-group .section_action_menu .dropdown-menu
.dropdown-item i {
    display: inline-block;
}
.course-content ul.designer li.section .content {
    padding: 0;
    margin: 0 auto;
    clear: both;
}
.course-content ul.designer li.section .content .section-header-content {
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
.course-content ul.designer li.section .content .section-header-content.boxed-block,
.course-content ul.designer li.section .content .section.boxed-block {
    margin: 0 auto;
}
.course-content ul.designer li.section .content .section-progress-info {
    max-width: 300px;
    width: 100%;
    text-align: right;
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
}
.course-content ul.designer li.section .content .section-progress-info .progress {
    border-radius: 25px;
}
.course-content ul.designer li.section .content .summary .no-overflow {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.path-course-view ul.designer li.activity form.togglecompletion .btn {
    height: auto;
    display: inline-block;
    vertical-align: top;
}
.path-course-view ul.designer li.activity > span {
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 1200px) {
    .course-content ul.designer li.section.main.container {
        max-width: 1240px;
    }
}

@media (min-width: 992px) {
    /* ul.designer .list-layout .card.card-list .row .col-lg-7 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    ul.designer .list-layout .card.card-list .row .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    ul.designer .list-layout .card.card-list .row .col-lg-2 {
        flex: 0 0 25%;
        max-width: 25%;
    } */
    ul.designer .list-layout .card.card-list .row .col-lg-2 .pull-right {
        text-align: center;
        float: none;
    }
}

@media (max-width: 991px) {
    .designer .section.img-text .activity .row > div .pull-right {
        margin-top: 10px;
    }
    /* ul.designer .list-layout .card.card-list .row .show-on-hover {
        position: absolute;
        right: 20px;
        bottom: 20px;
    } */
}

@media (max-width: 767px) {
    .course-content ul.designer li.section > .d-flex a.btn-icon {
        display: inline-block;
    }
    .course-content ul.designer li.section .restricted-section-block {
        text-align: right;
        display: block;
        float: none;
    }
}

@media (min-width: 576px) {
    .course-content ul.designer li.section .summary,
    .course-content ul.designer li.section .content > .availabilityinfo {
        margin-left: 25px;
        margin-bottom: 20px;
    }
    /* .format-designer.path-course-view.pagelayout-course #page #page-content section#region-main {
        padding: 0;
        border: 0;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    } */
    .format-designer.path-course-view.pagelayout-course #page #page-content section#region-main {
        padding: 0;
    }
}

.course-content ul.designer li.section .left,
.course-content ul.designer li.section .right {
    width: auto;
    padding: 0 6px 0;
    text-align: right;
}
.course-content ul.designer li.section .right {
    position: relative;
}
.course-content ul.designer li.section .right .icon-loader-block {
    position: absolute;
    right: 0;
}
.course-content ul.designer li.section .right .btn-group .action-menu .menubar {
    height: 100%;
    margin-left: 10px;
    align-items: center;
}

@media (max-width: 767.98px) {
    body:not(.editing) .course-content ul.designer li.section .left,
    body:not(.editing) .course-content ul.designer li.section .right {
        display: none;
    }
}

.designer .section.img-text .activity .row > div:nth-child(2) .pull-right {
    text-align: center;
    float: none;
}
.designer .list-layout .section .content .section li.activity .mod-visits-block {
    display: block;
}
.designer .section.img-text .activity-block .availability-info {
    position: relative;
}
.designer .section.img-text.link-layout .activity-block .availability-info {
    /* width: 25%; */
    display: inline-block;
}
.designer .section.img-text.list-layout .activity-block .availability-info {
    height: 100%;
    display: inline-flex;
    align-items: center;
}
.designer .section.img-text.card-layout .activity-block .availability-info {
    float: right;
}
.designer .section.img-text .activity .restrict-block .info-content-block {
    text-align: left;
    margin-right: 10px;
}
.designer .section.img-text.card-layout .activity .restrict-block .info-content-block {
    margin-right: 0;
}
.designer .section.img-text .activity .restrict-block .info-content-block .availabilityinfo.isrestricted {
    min-width: 220px;
    font-size: 12px;
    color: #000;
    border: 2px solid #333;
    background: #fff;
    padding: 5px;
    margin: 0;
    vertical-align: middle;
    display: none;
    opacity: .7;
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 1;
    z-index: 1;
}
.designer .section.img-text.card-layout .activity .restrict-block .info-content-block .availabilityinfo.isrestricted {
    position: absolute;
    right: 55px;
}
.designer .section.img-text .activity .restrict-block.show .info-content-block .availabilityinfo.isrestricted {
    display: inline-block;
}
.designer .section.img-text.card-layout .activity .restrict-block.show .info-content-block .availabilityinfo.isrestricted {
    left: auto;
    right: 25px;
}
.designer .section.img-text.circles-layout .activity .restrict-block .info-content-block .availabilityinfo.isrestricted {
    top: 30px;
}
.designer .section.img-text .activity .restrict-block.show .info-content-block .availabilityinfo.isrestricted
ul {
    padding: 0;
    margin: 0;
}
.designer .section.img-text .activity .restrict-block.show .info-content-block .availabilityinfo.isrestricted
ul li {
    list-style: none;
    text-align: left;
}
.designer .section.img-text .activity .availabilityinfo .badge-info {
    display: none;
}
.designer .section.img-text .activity .availabilityinfo strong {
    font-size: 12px;
    margin-left: 5px;
    display: inline-block;
}
.designer .section.img-text .activity .call-action-block {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    /* float: right; */
}
.designer .section.img-text .activity .call-action-block a:focus {
    border: 0;
    background: none;
    box-shadow: none;
}
.designer .section.img-text .activity .restrict-block.show .call-action-block {
    display: inline-block;
    float: none;
}
.designer .section.img-text .activity .call-action-block a > span {
    text-indent: -999em;
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
}
.designer .section.img-text.list-layout .activity .call-action-block a > span {
    line-height: 27px;
}
.designer .section.img-text .activity .call-action-block a > span i {
    font-size: 26px;
    color: #ccc;
    line-height: 32px;
    text-indent: 0;
    float: left;
}
.designer .section.img-text.circles-layout .activity .call-action-block a > span i {
    margin-top: 30px;
}
.designer .section.img-text .activity .activityinstance {
    width: 100%;
    padding-right: 30px;
    margin-bottom: 10px;
}
.designer .section.img-text.card-layout .activity .activity-block .activityinstance {
    padding-right: 0;
}
.designer .section.img-text .activity .activityinstance .img-block {
    background: #eee;
    border-radius: 5px;
    padding: 15px;
    margin-right: 10px;
}
.designer .section.img-text.link-layout .activity .activityinstance .img-block {
    display: inline-block;
}
.designer .section.img-text .activity .activityinstance .img-block img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.designer .section.img-text .activity .activityinstance .inplaceeditable {
    width: 100%;
    display: inline-block;
}
.designer .section.img-text.card-layout .activity .activityinstance .inplaceeditable {
    width: 90%;
}
.designer .section.img-text.list-layout .activity .activityinstance {
    padding-right: 30px;
}
.designer .section.img-text.list-layout .activity .availabilityinfo {
    opacity: .5;
}
.designer .section.list-layout .activity .actions,
.designer .section.card-layout .activity .actions {
    top: 15px;
    right: 40px;
}
/* .designer .section .activity .dimmed img.activityicon {
    display: none;
} */
.designer .section.list-layout .activity .aalink img.activityicon,
.designer .section.card-layout .activity .aalink img.activityicon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: none;
}
.designer .section.list-layout .activity .restricted .instancename {
    color: #6a737b;
}
.designer .section.img-text .activity .activityinstance .instancename {
    font-size: 16px;
}
.designer .section.img-text.card-layout .activity .restricted .activityinstance .aalink {
    color: #ccc;
}
.designer .section .content .section.card-layout {
    text-align: left;
    padding-left: 15px;
    margin: 0;
    display: block;
}
.designer .section .content .section.card-layout.circles-layout {
    text-align: center;
}
.designer .section .content .section.card-layout li.activity {
    width: 48%;
    min-height: 150px;
    text-align: left;
    border: 0;
    background: none;
    padding: 0.25rem 5px 0.25rem;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.designer .section .content.collapse .section.card-layout li.activity,
.designer .section .content.collapsing .section.card-layout li.activity,
.designer .section .content.show .section.card-layout li.activity {
    width: 48%;
}
.designer .section .content .section.card-layout li.activity:hover {
    border: 0;
    background: none;
}
.designer .section .content .section.card-layout li.activity:nth-child(2n) {
    margin-right: 0;
}
.designer .section .content .section.list-layout {
    padding: 0;
    margin: 0;
}
.designer .section .content .section.circles-layout {
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
}
.designer .section .content .section li.activity {
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    border: 0;
}
.designer .section .content .section.circles-layout li.activity {
    padding-bottom: 10px;
    margin: 10px 0;
    /* background: rgba(0,0,0,.05); */
}
.designer .section .content .section.list-layout li.activity {
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.designer .section .content .section li.activity .activity-block {
    display: none;
}
.designer .section .content .section li.activity > div:not(.activity-block) * {
    display: none;
}
.designer .section .content .section li.activity .activity-block.designer {
    display: block;
    padding: 0;
}
.designer .section .content .section li.activity .activity-block.designer .contentwithoutlink {
    width: 67%;
    display: inline-block;
}
/* .designer .section .content .section.card-layout li.activity .activity-block {
    display: none;
}
.designer .section .content .section.card-layout li.activity .activity-block.designer {
    display: block;
} 
.designer .section .content .section.card-layout li.activity .activity-block.designer .card.card-list {
    min-height: 260px;
}*/
.designer .section .content .section li.activity.hasinfo {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.designer .section .content .section.link-layout {
    padding: 0 10px;
    margin: 0;
}
.designer .section .content .section.link-layout li.activity {
    padding-bottom: 10px;
    /* background: #fff; */
}
/* .designer .section .content .section.link-layout li.activity {
    margin-bottom: 0;
} */
.designer .section .content .section.link-layout li.activity .mod-indent-outer > i.icon {
    position: absolute;
    top: 20px;
    left: 5px;
}
.designer .section .content .section.link-layout li.activity .mod-indent-outer {
    padding-top: 0;
}
.editing .designer .section .content .section.link-layout li.activity .mod-indent-outer {
    padding-top: 30px;
}
.designer .section .content .section.list-layout li.activity .mod-indent-outer > .icon {
    position: absolute;
}
.editing .designer .section .content .section.list-layout li.activity .mod-indent-outer > .icon {
    position: static;
}
.editing .designer .section .content .section li.activity .mod-indent-outer > .icon {
    position: absolute;
}
.designer .section .content .section li.activity .badge-restricted {
    background: #ced4da;
}
.designer .section .content .section li.activity .availability-block-content {
    max-width: 270px;
    width: 100%;
    display: inline-block;
}
.designer .section .content .section.link-layout li.activity .activityinstance {
    width: 75%;
    vertical-align: middle;
    margin-bottom: 0;
}
.designer .section .content .section.link-layout li.activity .activityinstance.ismodcontent {
    display: block;
}
.designer .section .content .section.link-layout li.activity.restricted .activityinstance.ismodcontent {
    display: inline-block;
}
.designer .section .content .section.link-layout li.activity .activityinstance .aalink {
    width: 70%;
    display: inline-flex;
    padding-left: 0;
}
.designer .section .content .section.link-layout li.activity .action-html-card {
    max-width: 100px;
    width: 100%;
    text-align: right;
    margin-top: 0;
    margin-left: 0;
    display: inline-block;
    vertical-align: middle;
    float: none;
    opacity: 0;
    display: none;
}
.designer .section .content .section.link-layout li.activity.restricted .action-html-card {
    width: auto;
    opacity: 1;
}
.designer .section .content .section.link-layout li.activity .center-reports-block {
    width: 23%;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.designer .section .content .section.link-layout li.activity .center-reports-block .pull-right {
    float: none;
}
.designer .section .content .section.link-layout li.activity .center-reports-block .pull-right .completion-info {
    text-align: center;
    display: inline-block;
}
.designer .section .content .section li.activity .availability-block-content .availabilityinfo {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0;
}
.designer .section .content .section li.activity .availability-block-content .center-reports-block {
    display: block;
    margin: 0;
}
.designer .section .content .section li.activity .availability-block-content .center-reports-block .pull-right {
    width: 100%;
    float: none;
    margin: 0;
}
.designer .section .content .section li.activity .availability-block-content .center-reports-block .pull-right
.col {
    text-align: center;
}
.designer .section .content .section li.activity .activityinstance .activity-type {
    /* margin-left: 50px; */
    display: block;
}
.designer .section .content .section li.activity .activityinstance .no-overflow > h2,
.designer .section .content .section li.activity .activityinstance .no-overflow > p {
    font-size: 20px;
    font-weight: bold;
    color: #6a737b;
    text-decoration: none;
}
.designer .section .content .section li.activity .activityinstance .activity-type p {
    font-size: 10px;
    font-weight: bold;
    color: #999;
    margin-bottom: 0;
}
.designer .section .content .section li.activity .restricted .activityinstance .activity-type p {
    color: #ccc;
}
.designer .section .content .section li.activity .activityinstance .aalink {
    font-size: 20px;
    color: rgb(59, 59, 59);
    text-decoration: none;
    text-indent: 0;
}
.designer .section .content .section.list-layout li.activity .activityinstance .aalink {
    display: flex;
}
.designer .section .content .section.list-layout li.activity .activityinstance .aalink,
.designer .section .content .section.card-layout li.activity .activityinstance .aalink {
    text-indent: 0;
    padding-left: 0;
    display: inline-block;
    vertical-align: top;
}
.designer .section .content .section li.activity .activityinstance .instancename {
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}
/*.designer .section .content .section li.activity .mod-content {
    margin-left: 30px;
}
 .designer .section .content .section.card-layout li.activity .mod-content,
.designer .section .content .section.list-layout li.activity .mod-content {
    margin-left: 60px;
} */
.designer .section .content .section li.activity .restricted .mod-content {
    opacity: .5;
}
.designer .section .content .section.list-layout li.activity .mod-content {
    /* width: 80%; */
    margin-left: 65px;
    margin-bottom: 20px;
}
.designer .section .content .section li.activity .restricted .mod-content p {
    color: #6a737b;
}
.designer .section .content .section li.activity .restricted .mod-content p:empty {
    display: none;
}
.designer .section .content .section li.activity .completion-html-card {
    margin-bottom: 10px;
    /* margin-left: 60px; */
}
.designer .section .content .section.card-layout li.activity .completion-html-card {
    margin-top: 0;
    margin-bottom: 30px;
}
.designer .section .content .section.card-layout li.activity .restricted .completion-html-card
.completion-info .badge-restricted span {
    color: #6a737b;
}
.designer .section .content .section li.activity .mod-indent-outer .row {
    margin: 0;
}
.designer .section .content .section li.activity .mod-indent-outer .col.align-self-center {
    text-align: right;
    padding: 0;
}
.designer .section .content .section li.activity .mod-indent-outer .pull-right {
    float: none;
}
.designer .section .content .section li.activity .mod-indent-outer .show-on-hover .col.align-self-center {
    text-align: center;
}
.designer .section .content .section.list-layout li.activity .mod-indent-outer .show-on-hover .col.align-self-center {
    text-align: right;
}
.designer .section .content .section li.activity .mod-visits-block {
    min-height: 20px;
    margin-right: 10px;
    transition: all .5s ease;
    display: inline-block;
    /* display: none; */
}
.designer .section .content .section.link-layout li.activity .mod-visits-block {
    display: inline-block;
}
.designer .section .content .section.list-layout li.activity .mod-visits-block {
    margin-right: 4px;
}
.designer .section .content .section.card-layout li.activity .mod-visits-block {
    position: absolute;
    left: 0;
    bottom: 0;
}
/* .designer .section .content .section li.activity:hover .mod-visits-block {
    margin-bottom: 0;
    display: inline-block;
}
.designer .section .content .section.card-layout li.activity .mod-visits-block {
    margin-left: 60px;
} */
.designer .section .content .section.card-layout li.activity .mod-visits-block p {
    text-align: left;
    margin-bottom: 0;
}
.designer .section .content .section li.activity .mod-visits-block p {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    text-align: center;
    margin-bottom: 0;
}
.designer .section .content .section li.activity .action-html-card {
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    float: right;
}
.designer .section .content .section.card-layout li.activity .mod-content {
    margin-bottom: 10px;
}
.designer .section .content .section.card-layout li.activity .action-html-card {
    position: absolute;
    right: 20px;
    bottom: 0;
    margin-top: 0;
    margin-left: 0;
    /* opacity: 0; */
}
.designer .section .content .section.card-layout li.activity .restricted .action-html-card {
    opacity: 1;
}
/* .designer .section .content .section li.activity:hover .action-html-card {
    opacity: 1;
} */
.designer .section .content .section li.activity .action-html-card a {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    box-shadow: none;
}
.designer .section .content .section li.activity .action-html-card a span i {
    margin-left: 5px;
}
.designer .section .content .section.card-layout li.activity .editing_move {
    left: 20px;
    z-index: 1;
}
.designer .section .content .section.link-layout li.activity .activityinstance .aalink.quickeditlink,
.designer .section .content .section.list-layout li.activity .activityinstance .aalink.quickeditlink,
.designer .section .content .section.card-layout li.activity .activityinstance .aalink.quickeditlink {
    width: auto;
    float: right;
}
.designer .section.img-text.list-layout .activity .activityinstance .activity-element {
    max-width: 370px;
    width: 100%;
}
.editing .designer .section .content .section.card-layout li.activity .activityinstance .activity-element .cmname-block {
    display: block;
}
.editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink .instancename,
.editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink .instancename,
.editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink .instancename {
    width: 100%;
}
.designer .section .content .section.card-layout li.activity .activityinstance .activity-element {
    vertical-align: top;
}

@media (min-width: 1500px) {
    .designer .section.container-full .content .section.card-layout li.activity {
        width: 33%;
        margin-right: 0;
    }
    .designer .section.container-full .content.show .section.card-layout li.activity {
        width: 24.5%;
        padding-right: 0;
        margin-right: 0;
    }
/*     .designer .section.container-full .content .section.card-layout li.activity:nth-child(2n) {
        margin-right: 0;
    }
    .designer .section.container-full .content .section.card-layout li.activity:nth-child(3n) {
        margin-right: 0;
    }
    .designer .section.container-full .content .section.card-layout li.activity:nth-child(4n) {
        margin-right: 0;
    } */
}

@media (min-width: 1500px) {
    .designer .section.container-full .content .section.circles-layout li.activity,
    .designer .section.container-full .content.show .section.circles-layout li.activity {
        width: 19%;
    }
}


@media (min-width: 1367px) and (max-width: 1499px) {
    .designer .section.container-full .content .section.card-layout li.activity,
    .designer .section.container-full .content.show .section.card-layout li.activity {
        width: 32%;
    }
    .designer .section.container-full .content .section.circles-layout li.activity,
    .designer .section.container-full .content.show .section.circles-layout li.activity {
        width: 24%;
    }
    .designer .section.container-full .content .section.card-layout li.activity:nth-child(2n) {
        margin-right: 15px;
    }
    .designer .section.container-full .content .section.card-layout li.activity:nth-child(3n) {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    /* .designer .section.img-text .activity .activityinstance .activity-element {
        width: 80%;
    } */
    /* .designer .section .content .section.link-layout li.activity .activityinstance .aalink,
    .designer .section .content .section.list-layout li.activity .activityinstance .aalink,
    .designer .section .content .section.card-layout li.activity .activityinstance .aalink {
        width: 80%;
    } */
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink .instancename,
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink .instancename,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink .instancename {
        width: 80%;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink.quickeditlink,
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink.quickeditlink,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink.quickeditlink {
        width: auto;
    }
}

@media (min-width: 1200px) and (max-width: 1366px) {
    .designer .section .content .section.card-layout li.activity,
    .designer .section .content.show .section.card-layout li.activity {
        width: 48%;
    }
}

@media (max-width: 1199px) {
    .designer .section.img-text.list-layout .activity .activityinstance .activity-element {
        max-width: 320px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .designer .section .content .section.card-layout li.activity .card.card-list {
        min-height: 250px;
    }
    .designer .section .content .section.card-layout li.activity .card.card-list .mod-indent-outer {
        min-height: 220px;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink,
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink {
        width: 80%;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink.quickeditlink,
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink.quickeditlink,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink.quickeditlink {
        width: auto;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink .instancename,
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink .instancename,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink .instancename {
        width: 80%;
    }
    .designer .section .content .section.card-layout li.activity .activityinstance .activity-element {
        width: 80%;
    }
    .designer .section .content .section.list-layout li.activity .card .card-body {
        padding-bottom: 0;
    }
}

@media (max-width: 991px) {
    /* ul.designer .section.img-text.list-layout .card.card-list {
        min-height: 150px;
    } */
    .designer .section.img-text.list-layout .activity .activityinstance,
    .designer .section.img-text.card-layout .activity .activityinstance {
        padding-right: 0;
    }
    .designer .section .content .section.card-layout li.activity .activityinstance .activity-element {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .designer .section .content .section.card-layout li.activity .activityinstance .activity-element {
        width: 64%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .designer .section .content .section.card-layout li.activity .card.card-list {
        min-height: 270px;
    }
    .designer .section .content .section.card-layout li.activity .card.card-list .mod-indent-outer {
        min-height: 270px;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink,
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink {
        width: 80%;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink.quickeditlink,
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink.quickeditlink,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink.quickeditlink {
        width: auto;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink .instancename,
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink .instancename,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink .instancename {
        width: 70%;
    }
    .designer .section.img-text.list-layout .activity .activityinstance .activity-element {
        max-width: 230px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .designer .section .content .section.card-layout li.activity {
        width: 100%;
        padding: 0;
        margin-right: 0;
    }
    .designer .section .content .section.link-layout li.activity .activityinstance {
        width: 100%;
    }
    .designer .section .content .section.card-layout li.activity .card-list {
        min-height: 150px;
    }
    .designer .section .content .section.card-layout li.activity .card.card-list .mod-indent-outer {
        min-height: 120px;
    }
    .designer .section .content.collapse .section.card-layout li.activity,
    .designer .section .content.collapsing .section.card-layout li.activity,
    .designer .section .content.show .section.card-layout li.activity {
        width: 100%;
    }
    .designer .section .content .section.card-layout li.activity .editing_move {
        top: 100px;
        left: 30px;
        z-index: 1;
    }
    .designer .section.img-text.list-layout .activity .activityinstance .activity-element {
        max-width: none;
        width: 70%;
    }
    .designer .section .content .section li.activity .mod-indent-outer .col.align-self-center {
        text-align: left;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink,
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink {
        width: 90%;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink.quickeditlink,
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink.quickeditlink,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink.quickeditlink {
        width: auto;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink .instancename {
        width: 63%;
    }
    .editing .designer .section .content .section.list-layout li.activity .activityinstance .aalink .instancename,
    .editing .designer .section .content .section.card-layout li.activity .activityinstance .aalink .instancename {
        width: 80%;
    }
    .designer .section.img-text .activity .restrict-block .info-content-block .availabilityinfo.isrestricted {
        left: auto;
        right: 40px;
    }
    .designer .section .content .section.link-layout li.activity .mod-content {
        width: auto;
        display: block;
        margin-top: 10px;
    }
    .designer .section .content .section.link-layout li.activity .center-reports-block {
        width: 100%;
        margin-right: 0;
        float: none;
    }
    .designer .section .content .section.link-layout li.activity .mod-indent-outer .col.align-self-center {
        text-align: right;
    }
    .designer .section.list-layout .activity .actions {
        top: 0;
        right: 0;
    }
}

@media (min-width: 768px) {
    .designer .section .content .section.link-layout li.activity .mod-content {
        width: 50%;
        display: inline-block;
        margin-top: 10px;
    }
    .designer .section .content .section.link-layout li.activity.restricted .mod-content {
        display: block;
    }
    .designer .section .content .section.link-layout li.activity.restricted .ismodcontent  + .availability-info + .mod-content {
        display: inline-block;
    }
}

/* @media (min-width: 576px) {
    .designer .section .circle-layout .activity-block .card .card-body {
        min-height: 390px;
    }
} */

@media (max-width: 575px) {
    .designer .section .content .section.card-layout li.activity {
        width: 99%;
    }
    .designer .section .content .section.card-layout li.activity .activityinstance .activity-element {
        width: 75%;
    }
    .editing .designer .section .content .section.link-layout li.activity .activityinstance .aalink .instancename {
        width: auto;
    }
    .designer .section .content .section.link-layout li.activity .activityinstance .aalink.quickeditlink {
        float: none;
    }
    .designer .section.img-text.link-layout .activity-block .availability-info {
        float: right;
    }
    .designer .section .content .section.link-layout li.activity .activityinstance {
        width: 90%;
    }
    /* .designer .section.img-text.link-layout .activity-block .availability-info {
        width: 50%;
    } 
    .designer .section .content .section.link-layout li.activity .center-reports-block {
        width: 50%;
    }*/
    .designer .section .content .section li.activity:hover .mod-visits-block {
        margin-right: 0;
        display: inline-block;
    }
    .designer .section .content .section li.activity:hover .mod-visits-block {
        margin-right: 10px;
    }
    .designer .section .content .section.link-layout li.activity:hover .mod-visits-block {
        margin-right: 10px;
    }
    .designer .section .content .section li.activity .activity-block.designer {
        padding: 0;
    }
    .designer .section .content .section.list-layout li.activity .mod-indent-outer .col.align-self-center {
        text-align: left;
    }
    .designer .section .content .section li.activity .mod-indent-outer .col.align-self-center {
        text-align: center;
    }
    .designer .section .content .section.link-layout li.activity .mod-indent-outer .col.align-self-center {
        text-align: right;
    }
}

.designer .section .content .section li.activity .mod-content .trim-summary.summary-hide {
    display: none;
}
.designer .section .content .section li.activity  .mod-content .fullcontent-summary.summary-hide {
    display: none;
}

/*Circle layout*/

.designer .section .circle-layout {
    width: 24.7%;
    border: 0;
    background: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: inline-block;
    vertical-align: top;
}
.designer .section .circle-layout .activity-block .card {
    min-height: 400px;
    text-align: center;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
}
.designer .section .circle-layout .activity-block .card.warning .img-block {
    background-color: #ffe4cf;
}
.designer .section .circle-layout .activity-block .card.danger .img-block {
    background-color: #ffe6e8;
}
.designer .section .circle-layout .activity-block .card .card-body {
    padding: 10px;
}
.designer .section.img-text.circles-layout .activity-block .img-block {
    width: 80px;
    height: 80px;
    line-height: 50px;
    background: #eee;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: inline-block;
}
.designer .section.img-text .circle-layout .activity-block .activityinstance {
    margin-bottom: 5px;
    padding-right: 0;
}
.designer .section .content .section li.activity.circle-layout .activityinstance .activity-type {
    margin-left: 0;
    margin-bottom: 5px;
}
.designer .section .content .section li.activity.circle-layout .mod-content {
    margin-left: 0;
    margin-bottom: 10px;
}
.designer .section .content .section li.activity.circle-layout .completion-html-card {
    margin-left: 0;
}
.designer .section .circle-layout .activity-block .img-block img.activityicon {
    margin: 0 auto;
}
.designer .section .circle-layout .activity-block .aalink img.activityicon {
    display: none;
}
ul.designer .circle-layout .card.card-list .card-body .mod-indent-outer .completion-info {
    text-align: center;
}
.designer .section .content .section li.activity.circle-layout .mod-visits-block {
    margin: 0;
}
.designer .section .content .section.card-layout li.activity.circle-layout .mod-visits-block p {
    text-align: center;
}
.designer .section .content .section li.activity.circle-layout .activityinstance .aalink {
    width: 100%;
    padding: 0;
}
.designer .section .content .section li.activity.circle-layout .action-html-card {
    float: none;
    margin-top: 0;
    margin-left: 0;
}
.designer .section.img-text.circles-layout .activity-block .availability-info {
    position: absolute;
    top: 0;
    left: 20px;
}

@media (min-width: 992px) and (max-width: 1366px) {
    .designer .section .circle-layout {
        width: 33%;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .designer .section .circle-layout {
        width: 49%;
    }
}

@media (max-width: 575px) {
    .designer .section .circle-layout {
        width: 100%;
    }
    .designer .section .circle-layout .activity-block .card {
        min-height: auto;
    }
}