ul.designer .card.card-list {
    border: none;
    border-left: 10px solid #333;
    box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.2);
}
ul.designer .card.card-list.purple {
    border-left-color: #5b40b0;
}
ul.designer .card.card-list.success {
    border-left-color: #28a745;
}
ul.designer .card.card-list.warning {
    border-left-color: #fd7e14;
    background-color: #ffe4cf;
}
ul.designer .card.card-list.danger {
    border-left-color: #dc3545;
    background-color: #ffe6e8;
}
ul.designer .card.card-list.muted {
    border-left-color: #d8d8d8;
    color: #d8d8d8;
}

ul.designer .badge.badge-completion {
    min-width: 175px;
    line-height: 20px;
    padding: 0;
    border-radius: 5px;
    text-align: left;
    padding: 0 0.5em;
}

ul.designer .badge.badge-purple {
    background-color: #5b40b0;
    color: white;
}

/* Style Moodle completion checkbox */
ul.designer .togglecompletion {
    float: left;
}
ul.designer .togglecompletion .btn {
    line-height: 1;
}
ul.designer .togglecompletion .btn img {
    background-color: white;
    border-radius: 5px;
}

body.editing ul.designer .section .activity .editing_move {
    left: -20px;
    top: calc(50% - 12px);
}

/* format_topics CSS copied from boost to replicate basic styling for designer (based on topic) */
.course-content ul.designer {
    padding: 0;
    margin: 0;
    list-style: none;
}
.course-content ul.designer li.section {
    margin-top: 1rem;
    padding-bottom: 1rem;
}
.course-content ul.designer li.section .content {
    margin: 0;
    padding: 0;
}

@media (min-width: 576px) {
    .course-content ul.designer li.section .summary,
    .course-content ul.designer li.section .content > .availabilityinfo {
        margin-left: 25px;
    }
}
.course-content ul.designer li.section .left,
.course-content ul.designer li.section .right {
    padding: 0 6px 0;
    text-align: right;
    width: auto;
}

@media (max-width: 767.98px) {
    body:not(.editing) .course-content ul.designer li.section .left,
    body:not(.editing) .course-content ul.designer li.section .right {
        display: none;
    }
}