{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_designer/layout/cm/module_layout_default

    Displays the course module card layout

    Example context (json):
    {
        "cmitem": {
            "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Assign example</span></a>",
            "hasname": "true",
            "id": 3,
            "module": "assign",
            "extraclasses": ""
        }

    }
}}

{{#.}}
    {{#cmitem}}
        <li
        class="activity {{module}} modtype_{{module}} {{extraclasses}} {{#hasinfo}}hasinfo{{/hasinfo}}"
        id="module-{{id}}"
        data-for="cmitem"
        data-id="{{id}}"
        >
            <div class="card-block {{colorclass}}">
                <div class="mod-indent-outer w-100">
                    {{{movehtml}}}
                    <div class="mod-indent {{#indent}}mod-indent-{{indent}}{{/indent}} {{#hugeindent}}mod-indent-huge{{/hugeindent}}"></div>
                    <div>
                        {{#hasname}}
                        <div class="activityinstance">
                            {{#cmname}} {{> core/inplace_editable }} {{/cmname}}
                            {{{beforecontent}}}
                            {{{groupinglabel}}}
                            {{{afterlink}}}
                        </div>
                        {{/hasname}}

                        <div class="center-reports-block">
                            <div class="row h-100 pull-right">
                                <div class="col align-self-center">
                                    {{{cmcompletionhtml}}}
                                    {{#modvisits}}
                                    <div class="mod-visits-block text-muted">
                                        <p>{{modvisits}}</p>
                                    </div>
                                    {{/modvisits}}
                                </div>
                            </div>
                        </div>

                        <div class="action-html-card">
                            {{{calltoactionhtml}}}
                        </div>

                        {{#modicons}}
                            <div class="actions">
                                {{{modicons}}}
                            </div>
                        {{/modicons}}

                        {{{aftercontent}}}
                    </div>
                </div>
            </div>
        </li>
        {{/cmitem}}
{{/.}}