{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_designer/cm_completion

    Displays the course module card layout

    Example context (json):
    {
        "reactionurl_dislike" : "http://moodleurl/course/format/designer/classes/output/cm_completion.php"

    }
}}
<div class="completion-info">
    {{#ispreview}}
        {{! Show preview for admin or editing teacher }}
        {{#completiontrackingmanual}}
            <span class="badge badge-completion badge-{{colorclass}}"><i class="fa fa-check-square-o"></i> {{#str}}completiontrackingmanual, format_designer{{/str}}</span>
        {{/completiontrackingmanual}}
        {{#completiontrackingautomatic}}
            <span class="badge badge-completion badge-{{colorclass}}"><i class="fa fa-check-circle"></i> {{#str}}completiontrackingautomatic, format_designer{{/str}}</span>
        {{/completiontrackingautomatic}}
    {{/ispreview}}
    {{^ispreview}}
        {{! Show completion info for users/students }}
        {{#completiontrackingmanual}}
            {{#completionincomplete}}
                {{#duetoday}}
                    <span class="badge badge-completion badge-{{colorclass}}">{{{completioncheckbox}}} <span><i class="fa fa-exclamation"></i> {{#str}}duetoday, format_designer{{/str}}</span></span>
                {{/duetoday}}
                {{^duetoday}}
                    {{#isoverdue}}
                        <span class="badge badge-completion badge-{{colorclass}}">{{{completioncheckbox}}} <span><i class="fa fa-exclamation-triangle"></i> {{#str}}overdue, format_designer{{/str}} {{overdueby}}</span></span>
                    {{/isoverdue}}
                    {{^isoverdue}}
                        <span class="badge badge-completion badge-{{colorclass}}">{{{completioncheckbox}}} <span><i class="fa fa-calendar"></i> {{#str}}completeby, format_designer{{/str}} {{completionexpected}}</span></span>
                    {{/isoverdue}}
                {{/duetoday}}
                {{#isoverridden}}
                    (override)
                {{/isoverridden}}
            {{/completionincomplete}}
            {{#completioncomplete}}
                <span class="badge badge-completion badge-{{colorclass}}">{{{completioncheckbox}}} <span>{{#str}}completed, format_designer{{/str}} {{completiondate}}</span></span>
                {{#isoverridden}}
                    (override)
                {{/isoverridden}}
            {{/completioncomplete}}
        {{/completiontrackingmanual}}
        {{^completiontrackingmanual}}
        {{^completiongradebase}}
            {{#completionincomplete}}
                {{#duetoday}}
                    <span class="badge badge-completion badge-{{colorclass}}"><span><i class="fa fa-exclamation"></i> {{#str}}duetoday, format_designer{{/str}}</span></span>
                {{/duetoday}}
                {{^duetoday}}
                    {{#isoverdue}}
                        <span class="badge badge-completion badge-{{colorclass}}"><span><i class="fa fa-exclamation-triangle"></i> {{#str}}overdue, format_designer{{/str}} {{overdueby}}</span></span>
                    {{/isoverdue}}
                    {{^isoverdue}}
                        <span class="badge badge-completion badge-{{colorclass}}"><span><i class="fa fa-calendar"></i> {{#str}}completeby, format_designer{{/str}} {{completionexpected}}</span></span>
                    {{/isoverdue}}
                {{/duetoday}}
                {{#isoverridden}}
                    (override)
                {{/isoverridden}}
            {{/completionincomplete}}
            {{#completioncomplete}}
                <span class="badge badge-completion badge-{{colorclass}}"><span><i class="fa fa-check"></i> {{#str}}completed, format_designer{{/str}} {{completiondate}}</span></span>
                {{#isoverridden}}
                    (override)
                {{/isoverridden}}
            {{/completioncomplete}}
        {{/completiongradebase}}

        {{#completiongradebase}}
            {{#completionincompletepass}}
                <span class="badge badge-completion badge-{{colorclass}}"><span><i class="fa fa-check"></i> {{#str}}passed, format_designer{{/str}} {{completiondate}}</span></span>
                {{#isoverridden}}
                    (override)
                {{/isoverridden}}
            {{/completionincompletepass}}
            {{#completionincompletefail}}
                <span class="badge badge-completion badge-{{colorclass}}"><span><i class="fa fa-times"></i> {{#str}}failed, format_designer{{/str}} {{completiondate}}</span></span>
                {{#isoverridden}}
                    (override)
                {{/isoverridden}}
            {{/completionincompletefail}}
        {{/completiongradebase}}
        {{/completiontrackingmanual}}
    {{/ispreview}}
</div>