{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_designer/module_layout_cards

    Displays the course module card layout

    Example context (json):
    {
        "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Assign example</span></a>",
        "hasname": "true",
        "id": 3,
        "module": "assign",
        "extraclasses": "",
        "prostyle": "min-height: 200px;"

    }
}}

<div class="activity-block designer {{#videotimeprogress}}progress-element{{/videotimeprogress}}" style="{{#prostyle}} {{{prostyle}}} {{/prostyle}}">
    {{{movehtml}}}
    <div class="card card-list {{colorclass}}" data-action="go-to-url" data-url="{{cmurl}}">
        <div class="card-body {{#enableactivityimage}}bg-overlay{{/enableactivityimage}}">
            <div class="activity-background-style" style="{{#modulebackgroundstyle}} {{modulebackgroundstyle}} {{/modulebackgroundstyle}}">
            </div>

            {{#modbackoverlaycolor}}
            <div class="bg-overlay" style="{{modbackoverlaycolor}}"></div>
            {{/modbackoverlaycolor}}

            <div class="mod-indent-outer w-100">
                <div class="{{indentclasses}}"></div>
                <div>
                    <div class="activityinstance">
                        <a></a>
                        {{^useactivityimage}}
                            {{#modiconurl}}
                                <div class="img-element {{elementstate.icon}}">
                                    <div class="img-block">
                                        {{{modiconurl}}}
                                    </div>
                                </div>
                            {{/modiconurl}}
                        {{/useactivityimage}}
                        <div class="activity-element {{modcontentclass}}">
                            <div class="activity-type {{elementstate.modname}}">
                                <p class="text-capitalize " style="{{#moduletextcolor}} {{moduletextcolor}} {{/moduletextcolor}}">{{modtype}}</p>
                            </div>
                            <div class="cmname-block {{elementstate.title}}">
                                {{#cmname}}
                                    {{{cmname}}}
                                {{/cmname}}
                            </div>
                        </div>
                        {{#modrestricted}}
                        <div class="availability-info {{elementstate.calltoaction}}">
                            {{{calltoactionhtml}}}
                        </div>
                        {{/modrestricted}}
                        {{{afterlink}}}
                    </div>
                    {{{beforecontent}}}

                    {{#modcontent}}
                        <div class="mod-content {{elementstate.description}}" style="{{#moduletextcolor}} {{moduletextcolor}} {{/moduletextcolor}}">
                            {{{modcontent}}}
                        </div>
                    {{/modcontent}}

                    {{#useactivityimage}}
                        {{#modiconurl}}
                            <div class="img-element {{elementstate.icon}}">
                                <div class="img-block">
                                    {{{modiconurl}}}
                                </div>
                            </div>
                        {{/modiconurl}}
                    {{/useactivityimage}}

                    {{#cmcompletionhtml}}
                        <div class="completion-html-card {{elementstate.completionbadge}}">
                            {{{cmcompletionhtml}}}
                        </div>
                    {{/cmcompletionhtml}}

                    {{#modvisits}}
                    <div class="mod-visits-block  {{elementstate.visits}}">
                        <p style="{{#moduletextcolor}} {{moduletextcolor}} {{/moduletextcolor}}">{{modvisits}}</p>
                    </div>
                    {{/modvisits}}
                    {{^modrestricted}}
                    <div class="action-html-card {{elementstate.calltoaction}}">
                        {{{calltoactionhtml}}}
                    </div>
                    {{/modrestricted}}
                    {{{aftercontent}}}
                    {{#useactivityimage}}
                        {{#duration_formatted}}
                            <span class="badge badge-dark video-duration">{{duration_formatted}}</span>
                        {{/duration_formatted}}
                    {{/useactivityimage}}
                </div>
            </div>

            {{{videotimeprogress}}}
        </div>
        {{#modicons}}
            <div class="actions">
                {{{modicons}}}
            </div>
        {{/modicons}}
    </div>
</div>
