
        <ul class="section img-text" id="designer-section-content">
            {{#cmlist}}
                <li id="{{id}}" class="{{modclasses}}">
                    <div>
                        {{{movehtml}}}
                        <div class="mod-indent-outer w-100">
                            <div class="{{indentclasses}}">
                                <div>
                                    {{#cmname}}
                                        <div class="activityinstance">
                                            {{{cmname}}}
                                            {{{afterlink}}}
                                        </div>
                                    {{/cmname}}

                                    {{{beforecontent}}}

                                    {{#modicons}}
                                        <div class="actions">
                                            {{{modicons}}}
                                        </div>
                                    {{/modicons}}

                                    {{{aftercontent}}}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {{/cmlist}}
        </ul>