{{<format_designer/section_layout}}
    {{$content}}
        <h3 id="sectionid-{{section.id}}-title" class="sectionname">{{{sectionname}}}</h3>

        {{{sectionavailability}}}

        <div class="summary">
            {{{sectionsummary}}}
        </div>

        <ul class="section img-text card-deck">
            {{#cmlist}}
                <li id="{{id}}" class="{{modclasses}} card">
                    <div class="card-body">
                        {{{movehtml}}}
                        <div>
                            {{#cmname}}
                                <div class="activityinstance">
                                    {{{cmname}}}
                                    {{{afterlink}}}
                                </div>
                            {{/cmname}}

                            {{{beforecontent}}}

                            {{#modicons}}
                                <div class="actions">
                                    {{{modicons}}}
                                </div>
                            {{/modicons}}

                            {{{aftercontent}}}
                        </div>
                    </div>
                </li>
            {{/cmlist}}
        </ul>
        {{{cmcontrol}}}
    {{/content}}
{{/format_designer/section_layout}}