{{<format_designer/section_layout}}
    {{$content}}
        <h3 id="sectionid-{{section.id}}-title" class="sectionname">{{{sectionname}}}</h3>

        {{{sectionavailability}}}

        <div class="summary">
            {{{sectionsummary}}}
        </div>

        <ul class="section img-text">
            {{#cmlist}}
                <li id="{{id}}" class="{{modclasses}} {{#isrestricted}}restricted{{/isrestricted}} position-relative my-1">
                    {{{movehtml}}}
                    <div class="card card-list {{colorclass}}" data-action="go-to-url" data-url="{{cm.url}}" style="cursor: pointer">
                        <div class="card-body">
                            <div class="mod-indent-outer w-100">
                                <div class="{{indentclasses}}">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            {{#cmname}}
                                                <div class="activityinstance">
                                                    {{{cmname}}}
                                                    {{{afterlink}}}
                                                </div>
                                                {{{availability}}}
                                            {{/cmname}}
                                            {{{cmtext}}}
                                        </div>

                                        <div class="col-8 col-md-4">
                                            <div class="row h-100 pull-right">
                                                <div class="col align-self-center">
                                                    {{{cmcompletionhtml}}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-4 col-md-2 show-on-hover">
                                            <div class="row h-100 pull-right">
                                                <div class="col align-self-center">
                                                    {{{calltoactionhtml}}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="module-icons">
                                        {{{beforecontent}}}

                                        {{#modicons}}
                                            <div class="actions">
                                                {{{modicons}}}
                                            </div>
                                        {{/modicons}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {{/cmlist}}
        </ul>
        {{{cmcontrol}}}
    {{/content}}
{{/format_designer/section_layout}}