{{<format_designer/section_layout}}
    {{$content}}
        <h3 id="sectionid-{{section.id}}-title" class="sectionname">{{{sectionname}}}</h3>

        {{{sectionavailability}}}

        <div class="summary">
            {{{sectionsummary}}}
        </div>

        <ul class="section img-text">
            {{#cmlist}}
                <li id="{{id}}" class="{{modclasses}} position-relative my-1">
                    {{{movehtml}}}
                    <div class="card card-list purple">
                        <div class="card-body">
                            <div class="mod-indent-outer w-100">
                                <div class="{{indentclasses}}">
                                    <div class="row">
                                        <div class="col-md-8">
                                            {{#cmname}}
                                                <div class="activityinstance">
                                                    {{{cmname}}}
                                                    {{{afterlink}}}
                                                </div>
                                                {{{availability}}}
                                            {{/cmname}}
                                        </div>

                                        <div class="col-md-4">
                                            {{{cmcompletion}}}
                                        </div>

                                        <div class="col">
                                            {{{beforecontent}}}

                                            {{#modicons}}
                                                <div class="actions">
                                                    {{{modicons}}}
                                                </div>
                                            {{/modicons}}

                                            {{{aftercontent}}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {{/cmlist}}
        </ul>
        {{{cmcontrol}}}
    {{/content}}
{{/format_designer/section_layout}}