<ul class="section img-text card-deck card-layout" id="designer-section-content">
    {{#cmlist}}
        <li id="{{id}}" class="{{modclasses}} card">
            <div class="card-body">
                <div class="card card-list {{colorclass}}" data-action="go-to-url" data-url="{{cm.url}}" style="cursor: pointer"></div>
                {{{movehtml}}}
                <div>
                    {{#cmname}}
                        <div class="activityinstance">
                            <div class="activity-type">
                                <p>{{modtype}}</p>
                            </div>
                            {{{cmname}}}
                            {{{afterlink}}}
                        </div>
                    {{/cmname}}

                    {{#modcontent}}
                        <div class="mod-content">
                            <p>{{{modcontent}}}</p>
                        </div>
                    {{/modcontent}}

                    {{#cmcompletionhtml}}
                        <div class="completion-html-card">
                            {{{cmcompletionhtml}}}
                        </div>
                    {{/cmcompletionhtml}}

                    {{#modvisits}}
                    <div class="mod-visits-block">
                        <p>{{modvisits}}</p>
                    </div>
                    {{/modvisits}}

                    <div class="action-html-card">
                        {{{calltoactionhtml}}}
                    </div>

                    {{#modicons}}
                        <div class="actions">
                            {{{modicons}}}
                        </div>
                    {{/modicons}}

                    {{{aftercontent}}}
                </div>
            </div>
        </li>
    {{/cmlist}}
</ul>
