<li id="section-{{section.section}}"
    class="section section-type-{{sectiontype}} main clearfix {{sectionstyle}}"
    role="region"
    aria-labelledby="sectionid-{{section.id}}-title"
    data-sectionid="{{section.section}}"
    data-sectionreturnid="{{sectionreturn}}">

    <div class="left side">
        {{{leftcontent}}}
    </div>

    <div class="right side">
        {{{rightcontent}}}
    </div>

    <div class="content">
        {{$content}}

        {{/content}}
    </div>
</li>