<div class="btn-group" role="group" aria-label="Basic example">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#seciontypes}}
                {{#active}}{{name}}{{/active}}
            {{/seciontypes}}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            {{#seciontypes}}
                <a class="dropdown-item {{#active}}active{{/active}}" href="{{{url}}}" data-action="set-section-option" data-option="sectiontype" data-value="{{type}}">{{name}}</a>
            {{/seciontypes}}
        </div>
    </div>
    {{#hassectionactionmenu}}
        <div class="dropdown section_action_menu" data-sectionid="{{sectionid}}">
            <button class="btn btn-link dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{#str}}edit{{/str}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                {{#sectionactionmenu}}
                    <a href="{{{url}}}" {{#attributes}}{{name}}="{{value}}"{{/attributes}}>{{{icon}}} {{name}}</a>
                {{/sectionactionmenu}}
            </div>
        </div>
    {{/hassectionactionmenu}}
</div>