{{#showmovehere}}
<p>{{movingstr}} (<a href="{{{cancelcopyurl}}}">{{#str}} cancel {{/str}}</a>)</p>
{{/showmovehere}}


<ul id="designer-section-content" class="section img-text {{sectionlayoutclass}} {{#hascms}} d-block {{/hascms}}" data-for="cmlist">
    {{#hascms}}
        {{#showmovehere}}
        <li class="movehere">
            <a href="{{{moveurl}}}" title="{{strmovefull}}" class="movehere"></a>
        </li>
        {{/showmovehere}}

        {{#cms}}
            {{#.}}
                {{#cmitem}}
                    <li id="{{id}}" class="{{modclasses}} {{#isrestricted}}restricted{{/isrestricted}}">
                        {{{movehtml}}}
                        <div class="card card-list {{colorclass}}" data-action="go-to-url" data-url="{{url}}" style="cursor: pointer">
                            <div class="card-body">
                                <div class="activityinstance">
                                    <div class="activity-type">
                                        <p>{{modtype}}</p>
                                    </div>
                                    {{#cmname}} {{> core/inplace_editable }} {{/cmname}}
                                    {{{beforecontent}}}
                                    {{{afterlink}}}
                                </div>

                                {{#modcontent}}
                                    <div class="mod-content">
                                        <p>{{{modcontent}}}</p>
                                    </div>
                                {{/modcontent}}

                                {{#cmcompletionhtml}}
                                    <div class="completion-html-card">
                                        {{{cmcompletionhtml}}}
                                    </div>
                                {{/cmcompletionhtml}}

                                {{#modvisits}}
                                <div class="mod-visits-block">
                                    <p>{{modvisits}}</p>
                                </div>
                                {{/modvisits}}

                                <div class="action-html-card">
                                    {{{calltoactionhtml}}}
                                </div>
                            </div>
                            {{#modicons}}
                            <div class="actions">
                                {{{modicons}}}
                            </div>
                            {{/modicons}}
                            {{{aftercontent}}}
                        </div>
                    </li>
                {{/cmitem}}
            {{/.}}
        {{/cms}}

    {{/hascms}}

    {{#showmovehere}}
        <li class="movehere">
            <a href="{{{movetosectionurl}}}" title="{{strmovefull}}" class="movehere"></a>
        </li>
    {{/showmovehere}}
</ul>